{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jasmine": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "arrow-spacing": 2,
    "arrow-parens": [2, "always"],
    "constructor-super": 2,
    "comma-dangle": [0, "never"],
    "indent": [2, 2, { "SwitchCase": 1, "VariableDeclarator": 1 }],
    "jsx-quotes": [2, "prefer-double"],
    "no-trailing-spaces": 2,
    "no-useless-constructor": 2,
    "no-this-before-super": 2,
    "no-dupe-class-members": 2,
    "no-case-declarations": 0,
    "no-confusing-arrow": 2,
    "no-const-assign": 2,
    "no-class-assign": 2,
    "no-multi-spaces": [2, { "exceptions": { "VariableDeclarator": true }}],
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "after-used",
      "argsIgnorePattern": "React|next|reject|result|data|opts|error|e"
    }],
    "prefer-const": 2,
    "quotes": [2, "single"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "semi": [2, "always"]
  },
  "globals": {
    "jest": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}
