doctype html
html(lang="en")
  head
    title=title
    script(type="text/javascript").
      window.appConfig = {
        openWeatherApiKey: '#{openWeatherApiKey}'
      };
  body
    div#app
    script(src=js)
